.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host(app-add-new-inventory-item) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}
