.content {
  display: flex;
  flex-direction: column;
}
.scrollable-content {
  justify-content: center;
  align-content: center;
  margin: 10px;
  overflow-y: auto;
}

.scrollable-content table {
  width: 100%;
}

.fab-add-button {
  justify-self: flex-end;
  margin: 10px;
  align-self: flex-end;
}

.paginator {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
}

:host(app-inventory) {
  width: 100%;
}
