<div>
  <mat-progress-bar [color]="colorLoadingBar" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div *ngIf="!isLoading" class="content">
      <div class="scrollable-content" (scroll)="onScroll($event)">
        <table mat-table [dataSource]="inventoryItems" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>
          <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef>Serial Number</th>
            <td mat-cell *matCellDef="let element">{{element.serialNumber}}</td>
          </ng-container>
          <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
            <td mat-cell *matCellDef="let element">{{element.manufacturer}}</td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    <div class="fab-add-button">
      <button
        mat-fab
        aria-label="Add a new item to the inventory"
        (click)="onFabClick()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="paginator">
      <mat-paginator
        [length]="totalPages"
        [pageSize]="selectedPageSize"
        [pageSizeOptions]="selectedPageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
